*{ box-sizing: border-box;}

html{
  font-family: 'Roboto', Arial sans-serif;
}

.navbar-header{
  margin-left: 5px;;
}

.navbar-inverse{
  background-color: rgba(0, 0, 0, 0.8) !important;
  border-color: none !important;
  position: fixed;
}

.container img{
  width: 27%;
  margin-top: 80px;
}


#home{
  text-align: center;
  padding: 200px 0 150px;
}

.home-wrapper{
  font-family: 'Roboto', Arial sans-serif;
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/background.jpeg') no-repeat center top;
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
}

#home h1{
  color: #cccccc;
  font-size: 68px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 40px;
}

#home .divider{
  width: 80px;
  border-top: 5px solid #2dc360;
  margin: 0 auto;
}

#home p{
  font-size: 30px;
  margin-top: 40px;
}

#home .social{
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

#home .social .facebook{
  color: white;
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(50, 52, 238);
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-right: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
#home .facebook:hover {
  background-color: rgb(30, 32, 163);
  cursor: pointer;
}

#home .googleplus {
  color: white;
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(242, 78, 78);
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-right: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
#home .googleplus:hover {
  background-color: rgb(227, 35, 35);
  cursor: pointer;
}

.container1 h2{
  font-size: 25px;
  text-align: center;
}

.container1{
  background: whitesmoke;
  background-size: cover;
  color: rgb(80, 80, 80);
  text-align: justify;
}

table{
  text-align: center;
  padding: 20px;
}

.container2 h1{
  text-align: center;
}

.container2 h2{
  font-size: 25px;
}

.container2{
  background: white;
  background-size: cover;
  color: rgb(80, 80, 80);
  text-align: justify;
}
