*{ box-sizing: border-box;}

html{
  font-family: 'Roboto', Arial sans-serif;
}

header {
	width: 100%;
	padding: 15px 0;
	position: fixed;
	background-color: rgba(48, 48, 48, 1);
  z-index: 10!important;
}

a:focus, a:hover{
  color: #25556c!important;
}

header nav {
	float: right;
	margin-top: 10px;
}

header nav a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin-left: 10px;
	padding: 10px 15px;
	font-size: 18px;
}

header nav a.active {
	background: #20708a;
	border-radius: 5px;
}

.navbar-header{
  margin-left: 5px;;
}

.navbar-inverse{
  position: fixed;
}

.container1 h2{
  text-align: center;
}

.container1 p{
  text-align: center;
  display: inline-block;
}

.container1 .parrafo p{
  text-align: left;
}

.container1{
  background: white;
  background-size: cover;
  color: rgb(80, 80, 80);
  text-align: justify;
}

.container1 table{
  text-align: center;
  padding: 20px;
  border: 2px solid rgb(219, 219, 219);
}

.container1 #documentos ol, ul, p, li{
  line-height: 2;
  font-size: 18px;
  text-align: justify;
}

.container1 .titulo{
color: #3d4042;
}

footer{
  background: #20708a;
  text-align: center;
  padding: 50px 0;
  font-size: 18px;
}
