*{ box-sizing: border-box;}

html{
  font-family: 'Roboto', Arial sans-serif;
}




header {
	width: 100%;
	padding: 15px 0;
	position: fixed;
	background-color: rgba(48, 48, 48, 1);
}


header nav {
	float: right;
	margin-top: 10px;
}

header nav a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin-left: 10px;
	padding: 10px 15px;
	font-size: 18px;
}

header nav a.active {
	background: #20708a;
	border-radius: 5px;
}



.navbar-header{
  margin-left: 5px;;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background: none !important;
}

.navbar-inverse{
  background-color: rgba(#2d504f, 1) !important;
  border-color: none !important;
  position: fixed;
}

.container .menuu li {
  width: 14%;
  text-align: center;
  display: inline-block;
  margin-top: 10px;

}

.navbar-inverse{
  height: 12% !important;
}

.container #logo img{
  width:100%;
  margin-top: 15px;
}


.container img{
  width: 50%;
  margin-top: 0.3%;
}

.container p{
  text-align: center;
  display: inline-block;
}

#home{
  text-align: center;
  padding: 200px 0 150px;
}

.home-wrapper{
  font-family: 'Roboto', Arial sans-serif;
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/background.jpeg') no-repeat center top;
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
}

#home h1{
  color: #cccccc;
  font-size: 68px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 40px;
}

#home .divider{
  width: 80px;
  border-top: 5px solid #2dc360;
  margin: 0 auto;
}

#home p{
  font-size: 30px;
  margin-top: 40px;
}

#home .social{
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

#home .social .facebook{
  color: white;
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(50, 52, 238);
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-right: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
#home .facebook:hover {
  background-color: rgb(30, 32, 163);
  cursor: pointer;
}

#home .googleplus {
  color: white;
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(242, 78, 78);
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-right: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
#home .googleplus:hover {
  background-color: rgb(227, 35, 35);
  cursor: pointer;
}

.container1 h2{
  text-align: center;
}

.container1 p{
  text-align: center;
  display: inline-block;
}

.container1{
  background: white;
  background-size: cover;
  color: rgb(80, 80, 80);
  text-align: justify;
}

.container1 table{
  text-align: center;
  padding: 20px;
  border: 2px solid rgb(219, 219, 219);
}

.container1 #documentos ol, ul, p, li{
  line-height: 2;
  font-size: 18px;
  text-align: justify;
}

.container2 h1{
  text-align: center;
  display: inline-block;
  margin-left: 45%;
}

.container2 h3{
  margin-bottom: 20px;
  text-align: center;
}

.container2 p{
  text-align: center;
  display: inline-block;
}

.container2{
  background: whitesmoke;
  background-size: cover;
  color: rgb(80, 80, 80);
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
}

.container2 img{
  width: 20%;
  text-align: center;
  display: inline-block;
  margin-left: 40%;
}
.container3{
    background: white;
    background-size: cover;
    color: rgb(80, 80, 80);
    text-align: center;
    display: inline-block;
}

.container3 h2{
  margin-top: 40px;
  padding: 2%;
  color: #8e8e8e;
}

.container3 p{
    color: rgb(80, 80, 80);
    text-align: center;
    display: inline-block;
    padding: 2%;
}

.container5{
    background:  url('../images/contacto.png') no-repeat center top;
    background-size: cover;
}

footer{
  background-color: rgb(5, 119, 112);
}
